<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Gazorpian Invaders</title>

    <%- include('partials/head')%>
  </head>
  <body>
    <%- include('partials/navbar') %>

    <%- include('partials/auth/signUp') %>

    <%- include('partials/auth/login') %>

    <%- include('partials/userInfo') %>

    <!-- Load fonts first here -->
    <div
      style="
        font-family: Arcadepix, serif;
        position: absolute;
        left: -1000px;
        visibility: hidden;
      "
    >
      .
    </div>
    <%- include('partials/footerJavascripts') %>

    <div id="user-score" hidden></div>
  </body>
</html>
